* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 7, 39);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  left: -100px;
  transform: translate(100px, 100px);
}
.container {
  width: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 13, 65);
  border-radius: 10px;
  position: relative;
}

.left-bar {
  padding: 2em;
  width: 55%;
  margin-right: 3em;
}
/* .right-bar {
 width: 45%;
 background: linear-gradient(rgba(224, 66, 238, 0.2),rgba(214, 41, 226, 0.2)), url("/images/image-header-desktop.jpg");
 background-size: cover;
 background-position: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */
.pics {
  width: 100%;
    border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
}
/* TYPOGRAPHY */
.headline {
  font-size: 1.9rem;
  margin-bottom: 1.2em;
}
span {
  color:rgb(115, 15, 209);
}
.wording {
  font-size: .9rem;
  color: rgb(184, 180, 180);
  font-weight: 500;
  margin-bottom: 4.5em;
}
.likes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3em;
}
.likess {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  color: rgb(184, 180, 180);
}
.fav {
  font-size: .7rem;
}

@media (max-width: 375px) {
  body {
    background-color: black;
  }
  .container{
    margin: 2em auto;
    padding: 0;
    background-color: rgb(63, 7, 116);
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
  }
  .left-bar {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .right-bar {
    order: 1;
  }
  .pics {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
  }
  .likes {
    flex-direction: column;
    text-align: center;
  }
  h3 {
        margin-top: 1em;
  }
  .headline {
    font-size: 1.2rem;
  }
  .wording {
    font-size: .8rem;
  }
  .fav {
    color: white;
  }
}